h1 {
    color: rgb(0, 0, 117);
    font-size: 40px;
    background-color: black;
    height: 50px;
    width: 100%;
        }

.canto {
      position: relative;
      width: 400px;
      height: 250px;
}

c

